.header {
    border-bottom: 3px solid #7d97ad;
    margin: 15px 0 15px 0;
    text-transform: uppercase;
}

.title {
    padding-top: 10%;
    text-align: right;
}

.name-header {
    font-size: 40px;
}

.title-header {
    font-size: 20px;
    font-weight: bold;
}

.container {
    font-family: 'Roboto', sans-serfi, serif;
    color: #2d3c49;
}

.project-header {
    color: #7d97ad;
    padding: 20px 0 5px 10px;
}

.card {
    border: 0;
}

.card-body {
    padding: 0;
    text-align: center;
}

.card-title {
    padding: 10px 0 0 0;
    text-transform: uppercase;
    margin: unset;
}

.card-link {
    font-size: 10px;
}

.footer {
    border-top: 1px solid #7d97ad;
    text-align: center;    
    margin-top: 10px;
}

.footer-text {
    margin-top: 10px;
}